# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ / VS Code
.idea/
.vscode/
*.iml

# Logs
logs/
*.log

# OS files
.DS_Store

# Java
*.class

# Build
build/
out/
