version: "3.8"

services:
  analytics-service:
    build: ./ # build from Dockerfile in this folder
    container_name: analytics-service
    ports:
      - "4002:4002"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - app-network

networks:
  app-network:
    external: true
