version: "3.8"

services:
  billing-service:
    build: ./   # build from Dockerfile in this folder
    container_name: billing-service
    ports:
      - "4001:4001"
      - "9001:9001"
    networks:
      - app-network

networks:
  app-network:
    external: true
